<fieldset class="box tabular">
  <legend>
    <%= if @accion == 'update' then 'Editar' else 'Nuevo' end %> contacto
  </legend>
  <%= form_tag(:action => @accion, :method => 'post') do %>
    <p>
      <%= label_tag(:nombre, 'Nombre') %>
      <%= text_field "contacto", "nombre" %>
    </p>
    <p>
      <%= label_tag(:apellido, 'Apellido') %>
      <%= text_field "contacto", "apellido" %>
    </p>
    <p>
      <%= label_tag(:empresa, 'Empresa') %>
      <%= text_field "contacto", "empresa" %>
    </p>
    <p>
      <%= label_tag(:direccion, 'Direccion') %>
      <%= text_field "contacto", "direccion" %>
    </p>
    <p>
      <%= label_tag(:telefono, 'Telefono') %>
      <%= text_field "contacto", "telefono" %>
    </p>
    <p>
      <%= label_tag(:email, 'Correo') %>
      <%= text_field "contacto", "email" %>
    </p>
    <hr/>
    <%= submit_tag "Guardar" %>
    <%= link_to 'Volver', action: 'index' %>
  <% end %>
</fieldset>