<fieldset class="box tabular">
  <legend>Nuevo contacto hola</legend>
  <%= form_tag(:action => 'create', :method => 'post') do %>
    <p>
      <%= label_tag(:nombre, 'Nombre') %>
      <%= text_field "contacto", "nombre" %>
    </p>
    <p>
      <%= label_tag(:apellido, 'Apellido') %>
      <%= text_field "contacto", "apellido" %>
    </p>
    <p>
      <%= label_tag(:telefono, 'Telefono') %>
      <%= text_field "contacto", "telefono" %>
    </p>
    <p>
      <%= label_tag(:email, 'Correo') %>
      <%= text_field "contacto", "email" %>
    </p>
    <hr/>
    <%= submit_tag "Guardar" %>
    <%= link_to 'Volver', action: 'index' %>
  <% end %>
</fieldset>